Repository getodk/docs, pull requests merged in 2019-05, with the labels that each got.

#989 Document front appearance for barcode widget
  odk1-src/form-question-types.rst
Labels: Collect

#1028 Add missing word
  odk1-src/launch-apps-from-collect.rst
Labels: Collect, Form design

#1029 Added hint for using Git on windows
  odk2-src/sync-endpoint.rst
  shared-src/spelling_wordlist.txt
Labels: ODK-X
